---
# tasks file for configure-second-node
- name: Read node token
  shell: |
    cat /tmp/node-token
  register: key

- name: Enable RKE2 service
  systemd:
    name: "rke2-server"
    enabled: true
    state: stopped

- name: Create rke2 folder
  file:
    path: /etc/rancher/rke2
    state: directory
    mode: '0755'

- name: Create config file to join initial node
  copy:
    content: ""
    dest: /etc/rancher/rke2/config.yaml
    force: false
    mode: '0666'

- name: Copy content into file
  copy:
    dest: /etc/rancher/rke2/config.yaml
    content: |
      token: {{ key.stdout }}
      server: https://<node ip address>:9345

- name: Start RKE2 service on worker
  systemd:
    name: "rke2-server"
    enabled: true
    state: started
